
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    
   
}
.fondonav{
    display: flex;
   justify-content: space-between;
   align-items:center;
   background-color: rgb(96, 37, 37);
   height: 3rem;
   }

.ancor1{
    color: orange;
    margin: 1rem;
    text-decoration: none;
}

   .logo1{
    width: 4rem;
    
 }

 .tituloindex1{
    background-image: url("../images/image-3.jpg");
    width: 60rem;
    height: 40rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
 }
main{
display: flex;
align-items: center;
flex-direction: column;
    }
   
    .tituloindex2{
        background-image: url(../images/image-1.jpg);
        width: 20rem;
        height: 20rem;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: red;
        
        
    }
    .botonindex{
       text-decoration: none;
       color: red;
       background-color: rgba(0, 0, 0, 0.815);

    }

    .h1h3contact{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 40px;
        color: red;
        }

    .contenedor1contact{
        background-image: url(../images/together.jpg);
        width:60rem ;
        height: 50rem;
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        color: red;
        
    }

    .contenedorabout2{
       display: flex;
    width: 35rem;
    justify-content: space-around;
   margin-top: 1rem;
   
    
    }

    .parrafocontact1{
width: 8rem;

    }

    .parrafocontacto1{
margin: 0.4rem;
    }

    .piepaginaabout{
color: red;

    }

    .containerabout{
  display: flex;
  justify-content: space-around;
  width: 90rem;
  height: 20rem;
  margin-top: 4rem;
  
    }

    .imagen1,.imagen2,.imagen3 {
        width: 15rem;
        object-fit: cover;
        

    }

    .parrafosabout1,.parrafosabout2,.parrafosabout3{
    width: 10rem;
    margin-top: 2rem;
    text-align: center;
    
    }

    .textimage1{
        display: flex;
align-items: center;
 flex-direction: column;
    }

.textimage2{
    display: flex;
align-items: center;
flex-direction: column;
}

.textimage3{
    display: flex;
align-items: center;
flex-direction: column;
}

.table, tr, th, td{
    border: solid rgb(106, 46, 3);

}
main{
    margin-top: 3rem;
}
.titulostabla{
display: flex;
flex-direction: column;
align-items: center;
}

.cabeza1{
    width: 6rem;
}

.lista1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 80vw;
    align-items: center;
    margin-top: 2rem;
    

}

.imagenbene1,.imagenbene2{
    width: 20rem;
}

.parrafolista{
    width: 27vw;
}

.lista2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 80vw;
    align-items: center;
    margin-top: 3rem;
    }

    .imagenindex1{
        display: none;
    }

    .imagenindex2{
        display: none;
    }
    .imagencontact1{
display: none;
    }

    .vacio{
        display: none;
              }
    

      


